*{
    text-align: center;
}
#search-inp{
    height: 30px;
    width: 400px;

}
#search-btn{
    height: 36px;
    width: 100px;
}
#audio-div{
    width: 100vw;
    text-align: center;
}
#main{
    border: 2px solid rgb(48, 47, 47);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 300px;
    width: 800px;
}
#lyrics-btn{
    height: 30px;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    background: rgb(206, 9, 9);
    cursor: pointer;
}